<div class="spinner-border carregando" role="status" *ngIf="isCarregando == true"></div>

<div class="container">
  <div class="row">
    <div class="col-sm panel-heading " droppable (onDrop)="onItemDrop($event)" *ngFor="let coluna of colunas">
      <div class="coluna">{{coluna.nome}}</div>
      <li draggable [dragData]="tarefas" *ngFor="let tarefa of retornaTarefasPorColuna(coluna.id!)" class="list-group-item" (dragstart)="setaTarefaSelecionada(tarefa)">
        <p>{{tarefa.descricao}}</p>
      </li>
    </div>
  </div>
</div>