.colunas {
  left:0%;
  width: 20rem;
}

.coluna {
  text-align: center;
  background-color: cadetblue;
}

.carregando {
  position: absolute;
  height: 100px;
  width: 100px;
  right: 5%;
  bottom: 10%;
}

.alinhamento {
  left:0%;
  padding-left: 0%;
  margin-left: 0%;
  border-left: 0%;
  
}